---
layout: default
permalink: /categories/
title: Categories
---

{% comment %} display posts in categories {% endcomment %}
<div id="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugify }}"></div>
      <br />
      <h4 class="fw5 mid-gray">#{{ category_name }}</h4>
      <a name="{{ category_name | slugify }}"></a>
      <ul class="list pl0">
        {% for post in site.categories[category_name] %}
          <li>
            {% include post-meta.html post=post %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
