---
layout: default
---

<ul class="list pl0">
  {% for post in paginator.posts %}
    <li class="pv3">
      {% include post-meta.html post=post %}
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="flex items-center justify-between">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">
      <i class="v-mid material-icons">arrow_left</i>Previous
    </a>
  {% endif %}
  <span class="page-number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">
      Next<i class="v-mid material-icons">arrow_right</i>
    </a>
  {% endif %}
</div>
