<header class="w-100 pa3 ph5-ns">
  <div class="db dt-ns mw7 center w-100">
    <div class="db dtc-ns v-mid tl w-50">
      <a class="link f4 fw6 dim mid-gray" href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <nav class="db dtc-ns v-mid tl tr-ns w-100 mt2 mt0-ns">
      {% for item in site.data.navigation %}
        <a class="f6 fw6 hover-blue mr2 mr3-m mr4-l link mid-gray dib" href="{{ item.link }}" title="{{ item.title }}">
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
