// Base style

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  color: --var(--black-10);
  background-color: var(--white);

  scroll-behavior: smooth;
  text-rendering: geometricPrecision;

  font-kerning: normal;
  font-feature-settings: "zero" 1, "tnum" 1, "case" 1;

  word-wrap: break-word;
}

:lang(zh) {
  font-family: 'Noto Serif TC', serif;
}

img {
  display: block;
  max-width: 100%;
  margin: 1em 0;
  border: none;
  vertical-align: bottom;
}

img.emoji {
  display: inline;
  margin: 0;
  vertical-align: text-top;
}

sup {
  font-feature-settings: "sups" 1;
}

sub {
  font-feature-settings: "subs" 1;
}

main a {
  @extend .link, .dim, .blue;
}

table {
  @extend .collapse, .ba, .br2, .b--black-10, .pv2, .ph3;
}

tbody, thead {
  @extend .striped--near-white;
}

th {
  @extend .tr, .f6, .ttu, .fw6, .pv2, .ph3;
}

td {
  @extend .pv2, .ph3;
}
