---
layout: compress
---

<html>
  {% seo %}
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <article class="content">
        {{ content }}
      </article>
      {% include footer.html %}
    </main>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% feed_meta %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics_id }}');
  </script>

  {% if page.mathjax %}
    <!-- MathJax support -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  {% endif %}
</html>
