---
layout: default
---

<!-- MathJax support -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<h1>{{ page.title }}<span class="post-author">{% if page.author %} @{{ page.author }}{% endif %}</span></h1>

<time>{{ page.date | date_to_string }}</time>

{% assign words = content | number_of_words %}
<div class="post-readtime">
&middot; {% if words < 360 %}1 min{% else %}{{ words | divided_by: 180 }} mins{% endif %} read
</div>

{% if page.categories %}
  <div class="post-categories">
    {% for category in page.categories %}
      <a href="/categories/#{{ category | slugify }}">#{{ category }}</a>
      {% comment %} print comma {% endcomment %}
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  </div>
{% endif %}

{{ content }}
